<footer>
<center> 
<pre style="text-align:center">
          _____                    _____                    _____                _____                    _____          
         /\    \                  /\    \                  /\    \              /\    \                  /\    \         
        /::\    \                /::\    \                /::\    \            /::\    \                /::\    \        
       /::::\    \              /::::\    \              /::::\    \           \:::\    \              /::::\    \       
      /::::::\    \            /::::::\    \            /::::::\    \           \:::\    \            /::::::\    \      
     /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \           \:::\    \          /:::/\:::\    \     
    /:::/  \:::\    \        /:::/__\:::\    \        /:::/__\:::\    \           \:::\    \        /:::/  \:::\    \    
   /:::/    \:::\    \      /::::\   \:::\    \      /::::\   \:::\    \          /::::\    \      /:::/    \:::\    \   
  /:::/    / \:::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \        /::::::\    \    /:::/    / \:::\    \  
 /:::/    /   \:::\    \  /:::/\:::\   \:::\____\  /:::/\:::\   \:::\____\      /:::/\:::\    \  /:::/    /   \:::\ ___\ 
/:::/____/     \:::\____\/:::/  \:::\   \:::|    |/:::/  \:::\   \:::|    |    /:::/  \:::\____\/:::/____/     \:::|    |
\:::\    \      \::/    /\::/   |::::\  /:::|____|\::/    \:::\  /:::|____|   /:::/    \::/    /\:::\    \     /:::|____|
 \:::\    \      \/____/  \/____|:::::\/:::/    /  \/_____/\:::\/:::/    /   /:::/    / \/____/  \:::\    \   /:::/    / 
  \:::\    \                    |:::::::::/    /            \::::::/    /   /:::/    /            \:::\    \ /:::/    /  
   \:::\    \                   |::|\::::/    /              \::::/    /   /:::/    /              \:::\    /:::/    /   
    \:::\    \                  |::| \::/____/                \::/____/    \::/    /                \:::\  /:::/    /    
     \:::\    \                 |::|  ~|                       ~~           \/____/                  \:::\/:::/    /     
      \:::\    \                |::|   |                                                              \::::::/    /      
       \:::\____\               \::|   |                                                               \::::/    /       
        \::/    /                \:|   |                                                                \::/____/        
         \/____/                  \|___|                                                                 ~~              
                                                                                                                       
 </pre>
 <center>
</footer>
