<footer>
<br \>
<center> 
<pre>
  sSSs   .S_sSSs     .S_sSSs    sdSS_SSSSSSbs   .S_sSSs    
 d%%SP  .SS~YS%%b   .SS~YS%%b   YSSS~S%SSSSSP  .SS~YS%%b   
d%S'    S%S   `S%b  S%S   `S%b       S%S       S%S   `S%b  
S%S     S%S    S%S  S%S    S%S       S%S       S%S    S%S  
S&S     S%S    d*S  S%S    d*S       S&S       S%S    S&S  
S&S     S&S   .S*S  S&S   .S*S       S&S       S&S    S&S  
S&S     S&S_sdSSS   S&S_sdSSS        S&S       S&S    S&S  
S&S     S&S~YSY%b   S&S~YSSY         S&S       S&S    S&S  
S*b     S*S   `S%b  S*S              S*S       S*S    d*S  
S*S.    S*S    S%S  S*S              S*S       S*S   .S*S  
 SSSbs  S*S    S&S  S*S              S*S       S*S_sdSSS   
  YSSP  S*S    SSS  S*S              S*S       SSS~YSSY    
        SP          SP               SP                    
        Y           Y                Y                     
                                                           
</pre>
</center>
</footer>
