<footer>
<br \>
<center> 
<pre>                                
       _..._                                                              
    .-'_..._''.                                             _______       
  .' .'      '.\          _________   _...._                \  ___ `'.    
 / .'                     \        |.'      '-.              ' |--.\  \   
. '              .-,.--.   \        .'```'.    '.      .|    | |    \  '  
| |              |  .-. |   \      |       \     \   .' |_   | |     |  ' 
| |              | |  | |    |     |        |    | .'     |  | |     |  | 
. '              | |  | |    |      \      /    . '--.  .-'  | |     ' .' 
 \ '.          . | |  '-     |     |\`'-.-'   .'     |  |    | |___.' /'  
  '. `._____.-'/ | |         |     | '-....-'`       |  |   /_______.'/   
    `-.______ /  | |        .'     '.                |  '.' \_______|/    
             `   |_|      '-----------'              |   /                
                                                     `'-'                 
</pre>
</center>
</footer>
