/**
 * Dark theme variables
 */

:root {
  --base-color: #514491;
  --border: dashed 1px rgba(219, 219, 219, 0.9);
  --selection-background: rgba(219, 219, 219, 0.99);
  --selection-text: #000;
  --background-color: #000;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #7885bf;
  --code-color-2: #567096;
  --code-color-3: #324a6e;
  --code-color-4: #54b071;
  --code-color-5: #0cf296;
  --code-color-6: #6c9686;
  --code-color-7: #3983a8;
  --code-color-8: #bbbbbb;
  --code-color-9: #1985a6;
  --code-color-10: #9c9cd9;
  --code-color-11: #8484f0;
  --code-color-12: #800080;
  --code-color-13: #5757ff;
  --code-color-14: #00c1c1;
  --code-color-15: #7363ff;
  --code-color-16: #1e90ff;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
}
